@font-face {
  font-family:"Pokemon Solid Normal";
  src:url("./fonts/pokemonsolid.eot?") format("eot"),
  url("./fonts/pokemonsolid.woff") format("woff"),
  url("./fonts/pokemonsolid.ttf") format("truetype"),
  url("./fonts/pokemonsolid.svg#PokemonSolidNormal") 
  format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft.ttf");
}

html {
  font-size: 62.5%;
}

html, body, #root {
  min-height: 100vh;
}

body {
  background-color: #2a77db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

.firstLine {
  transition: transform 0.3s linear;
  transform-origin: left;
  transform: rotate(30deg);
}

.secLine {
  display: none;
}

.thirdLine {
  transition: transform 0.3s linear;
  transform-origin: left;
  transform: rotate(-30deg);
}

@media (max-width: 750px) {
  .noShowSocials {
    position: fixed;
    top: 7%;
    right: -16rem;
    transition: right 0.3s linear;
  }
  
  .showSocials {
    position: fixed;
    top: 7%;
    right: 1rem;
    transition: right 0.3s linear;
  }
}